<div id="main-container" class="container">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      gdrdgd
    </div>
    <div id="content" class="col-xs-9">
      <%= @saying %>
    </div>
  </div>
</div>