<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Edit book</h1>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <%= render 'form' %>
  </div>
</div>